/* ======== */
/* || General Styles */
/* ======== */

:root {
  font-size: 16px;

  /* general palette */
  --_required-form-color: #ff2c2c;

  /* color palettes sourced from https://coolors.co/image-picker */

  /* if no colors are set, default to light */
  --_background-color: var(--background-color, #a2a7ac);
  --_text-color: var(--text-color, #292b2c);
  --_header-color: var(--header-color, #82c8e5);
  --_utility-color-one: var(--utility-color-one, #35383b);
  --_utility-color-two: var(--utility-color-two, #82868b);
  --_utility-color-three: var(--utility-color-three: #979ba2);
  --_sidebar-img: var(
    --sidebar-img,
    url(../assets/images/light-theme-picture.jpg)
  );
  --_alt-sidebar-img: var(
    --alt-sidebar-img,
    "A photo taked in a moving car of a flattened snowy mountainous edged landscape with the sun in the sky and trees scattered"
  );
  --_icon-switcher-img: var(
    --icon-switcher-img,
    url(../assets/icons/light-mode-icon.svg)
  );
  --_alt-icon-switcher-img: var(--alt-icon-switcher, "Toggle Dark Theme Icon");
}

/* colors not officially set yet */
:root.dark {
  --background-color: #131003;
  --text-color: #b0b1b4;
  --utility-color-one: #3f3412;
  --header-color: #7f530a;
  --utility-color-two: #697a81;
  --utility-color-three: #7d8689;
  --sidebar-img: url(../assets/images/dark-theme-picture.jpg);
  --alt-sidebar-img: "A hilly green landscape with a partly-cast mid afternoon and a single tree in the distance";
  --icon-switcher-img: url(../assets/icons/dark-mode-icon.svg);
  --alt-icon-switcher-img: "Toggle Light Theme Icon";
}

/* colors not officially set yet */
:root.light {
  --background-color: #a2a7ac;
  --text-color: #292b2c;
  --header-color: #82c8e5;
  --utility-color-one: #35383b;
  --utility-color-two: #81868b;
  --utility-color-three: #979ba2;
  --sidebar-img: url(../assets/images/light-theme-picture.jpg);
  --alt-sidebar-img: "A photo taked in a moving car of a flattened snowy mountainous edged landscape with the sun in the sky and trees scattered";
  --icon-switcher-img: url(../assets/icons/light-mode-icon.svg);
  --alt-icon-switcher-img: "Toggle Dark Theme Icon";
}

body {
  display: flex;
  height: 100vh;
}

/* ======== */
/* || Utility Styles */
/* ======== */

.header-text {
  /* temporary font family */
  color: var(--_header-color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* font-size: clamp(1.6rem, 1.5rem + 1.5vw, 2.5rem); */
  font-size: calc(2rem + 1vw);
  font-weight: bold;
}

.header-text.header-text--small {
  /* font-size: clamp(1.4rem, 1.2rem + 1.5vw, 2rem); */
  font-size: calc(1.2rem + 1vw);
}

.paragraph {
  /* temporary font family */
  color: var(--_text-color);
  font-family: Georgia, "Times New Roman", Times, serif;
  /* font-size: clamp(0.8rem, 0.75rem + 1.5vw, 1.4rem); */
  font-size: calc(0.5rem + 0.5vw);

  margin: 20px 0 20px 0;
}

.paragraph.paragraph--text-white {
  color: #b0b1b4;
}

.paragraph.paragraph--large {
  /* font-size: clamp(1.2rem, 1rem + 1.5vw, 1.6rem); */
  font-size: calc(0.8rem + 0.5vw);
}

.paragraph.paragraph--bold {
  font-weight: 600;
}

.paragraph__span--italicize {
  font-style: italic;
}

.paragraph__span--required {
  color: var(--_required-form-color);
}

/* ======== */
/* || Sidebar Styles */
/* ======== */

.sidebar {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  background-image: var(--_sidebar-img);
  background-size: cover;
  background-position: center;
  min-width: 500px;
  max-width: 1000px;
  height: 100%;
  padding-bottom: 2rem;

  overflow: hidden;
}

/* ======== */
/* || Main Content Styles */
/* ======== */

.main-content {
  /* main content flow */
  display: flex;
  flex-direction: column;

  background-color: var(--_background-color);
  flex: 1;
  height: 100%;
  padding: 5% 10%;
}

.theme-switcher {
  width: auto;
  height: 100%;
}

.main-content__block {
  display: flex;
  gap: 1rem;
}

.main-content__block.main-content__block--content-column {
  flex-direction: column;
  gap: 0;
  justify-content: space-between;
}
.main-content__block.main-content__block--bottom-margin {
  margin-bottom: 2em;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
}

.form__button {
}

.form__section {
  display: flex;
}

.form__section.form__section--gap {
  gap: 3em;
}

.form__field-group {
  display: flex;
  flex-direction: column;
}

/* define paragraph fonts */

@media (max-width: 1200px) {
  body {
    flex-direction: column;
  }

  .sidebar {
    min-width: none;
    max-width: none;
    padding-bottom: 0.5rem;
  }
}
