:root {
  font-size: 16px;

  /* custom properties go here */
}

body {
  display: flex;
  height: 100vh;
}

div.sidebar {
  background-color: red;
  flex: 0.35;
  min-width: 600px;
}

div.main-content {
  background-color: blue;
  flex: 0.65;

  /* main content flow */
  display: flex;
  flex-direction: column;
}

p {
  font-size: 1.5rem;
  font-weight: bold;
}

div.main-content div:last-child p {
  font-size: 1rem;
  font-weight: none;
}
