/* ======== */
/* || General Styles */
/* ======== */

:root {
  font-size: 16px;
}

/* dark and light theme definition 
:root.dark {

}

:root.light {

}
*/

body {
  display: flex;
  height: 100vh;
}

/* ======== */
/* || Utility Styles */
/* ======== */

.paragraph {
  /* temporary font family */
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 20px 0 20px 0;
}

.paragraph.paragraph--large {
  font-size: 1.4rem;
  font-weight: bold;
}

.header {
  /* temporary font family */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.header.header--small {
  font-size: 2rem;
  font-weight: bold;
}

/* ======== */
/* || Sidebar Styles */
/* ======== */

.sidebar {
  flex: 0.4;

  background-color: red;
  min-width: 700px;
  max-width: 1000px;
  height: 100%;

  overflow: hidden;
}

.sidebar__image {
  object-fit: cover;
  min-height: 100%;
}

/* ======== */
/* || Main Content Styles */
/* ======== */

div.main-content {
  background-color: blue;
  flex: 1;
  height: 100%;

  /* main content flow */
  display: flex;
  flex-direction: column;
}

/* define paragraph fonts */
